= render "shared/header.haml"
- breadcrumb :all_category
= breadcrumbs class: "breadcrumbs-list"
%section.pickupContainer
  %h2.head
  .productBox
    .productHead
      = link_to "#" do
        %h3.title カテゴリ一覧
    .productLists{id: "slickLists--1"}
      - @topcategories.each do |category|
        = link_to category_item_path(category) do
          %h4.title
            = category.name
= render "shared/footer.haml"
