= render "shared/header"
%nav.breadCrumbs
  %ul
    %li
      = link_to "メルカリ", root_path
    %li
      = fa_icon "angle-right"
    %li
      %p マイページ
.main
  .contents
    = render "leftcontent"
    .rightContent
      / .productLists{id: "slickLists--1"}
      = render partial: "users/item", collection: @sell_items
