.productList
  = link_to item_path(item.id) do
    %figure.productList--img
      = image_tag item.images.first.image.url,width: "187",height: "200"
    .productList--body
      %h3.name
        = item.name
      .details
        %ul
          %li
          = item.price
          円(税込)
          %li
            = fa_icon "heart", class: "likeIcon", text: truncate(item.text, length: 35)
