.leftContent
  = search_form_for @q,url: seeking_items_path,method: :get do |f|
    .topcontent
      = "ここに並び替えのformをおく実装はしないと思うよ"
    .formSection
      = "ここから絞り込みのselectを置いていく"
      .productForm__field.productForm__field--category
        = f.label :category_id do
          カテゴリー
          %span.formRequired
          %br/
          = f.collection_select :category_id_matches_any, @topcategories,:id,:name,{include_blank: "全て"},class: "inputField inputField__select"
          #category
      .productForm__field
        = f.label :商品の状態
        %span.formRequired
        %br/
        = f.select(:shopping_status_eq, [["新品/未使用", 0], ["未使用に近い", 1], ["目立った傷や汚れなし", 2], ["やや傷や汚れあり", 3], ["傷や汚れあり", 4], ["状態が悪い", 5]], {include_blank: "全て"}, {class: "inputField inputField__select"})
        .productForm__field
          = f.label :配送料の負担
          %span.formRequired
          %br/
          = f.select(:send_burden_eq, [["送料込み（出品者負担）", 0], ["着払い（購入者負担）", 1]], {include_blank: "全て"}, {class: "inputField inputField__select"})
        .productForm__actions
          = f.submit "完了", class: "productBtn"
